main.main
	.other-pages
		.container 
			h1.h2 Личный кабинет
			.lk 
				.lk__items 
					.lk-item
						.lk-item__title Войти
						.lk-form 
							.lk-form__fields
								input(type="text" placeholder="Логин")
								input(type="password" placeholder="Пароль")
							.lk-form__forget
								a(href="") Забыли пароль?
							.lk-form__buttons 
								button.button.button-dark(type="submit") Войти
								a.button.button-light(href="") Зарегистрироваться
							.lk-form__ps Проверить наличие электронного адреса в базе Калининградтеплосеть
					.lk-item
						.lk-item__text 
							p В случае возникновения проблем со входом в личный кабинет, Вам необходимо обратиться с заявлением на электронный адрес:
							p <a href="mailto:">info@kts39.ru</a>, <a href="">dogovor@kts39.ru</a>
							p Адрес: ул. Нарвская, д. 58.
							p Телефон для справок: 667-167, 667-144.
