main.main
	//- .section-main
	//- 	.container
	//- 		.section-main__inner
	//- 			.section-main__slider.main-slider
	//- 				.main-slider__slide
	//- 					.main-slider__inner 
	//- 						.main-slider__text Vehicles with delivery from the United Arab Emirates
	//- 						.main-slider__img 
	//- 							img(src="./img/slide.png" alt="")
	//- 				.main-slider__slide
	//- 					.main-slider__inner 
	//- 						.main-slider__text Vehicles with delivery from the United Arab Emirates
	//- 						.main-slider__img 
	//- 							img(src="./img/slide.png" alt="")
	//- 			.section-main__column 
	//- 				.section-main__model 
	//- 					a(href="") 
	//- 					.section-main__text New arrival
	//- 					.section-main__img 
	//- 						img(src="./img/model.png" alt="")
	//- 				.section-main__model 
	//- 					a(href="") 
	//- 					.section-main__text SUV - Driving without limits
	//- 					.section-main__img 
	//- 						img(src="./img/model2.png" alt="")
	.section-search
		.container
			.section-search__inner 
				.section-search__select 
					select(name="") 
						option Make
				.section-search__select 
					select(name="") 
						option Model
				.section-search__select 
					select(name="") 
						option Fuel type
				.section-search__select 
					select(name="") 
						option Transmission
				button.section-search-button()
					span.section-search-button__icon
						img(src="./img/search_white.svg" alt="")
					span.section-search-button__text Show

	.section-filter 
		.container
			.section-filter__top
				.section-filter__buttons 
					button.section-filter-button.active() All
					button.section-filter-button() New
					button.section-filter-button() Used
				.section-filter__buttons 
					button.section-filter-button.active() Passenger
					button.section-filter-button() Commercial
					button.section-filter-button() Motorcycles
			.section-filter__results 
				a.section-filter__result(href="")
					span.section-filter__result-name Audi
					span.section-filter__result-count 421
				a.section-filter__result(href="")
					span.section-filter__result-name BMW
					span.section-filter__result-count 837
				a.section-filter__result(href="")
					span.section-filter__result-name Ford
					span.section-filter__result-count 620
				a.section-filter__result(href="")
					span.section-filter__result-name Haval
					span.section-filter__result-count 583
				a.section-filter__result(href="")
					span.section-filter__result-name Hyundai
					span.section-filter__result-count 1630
				a.section-filter__result(href="")
					span.section-filter__result-name Kia
					span.section-filter__result-count 2185
				a.section-filter__result(href="")
					span.section-filter__result-name LADA (ВАЗ)
					span.section-filter__result-count  1989
				a.section-filter__result(href="")
					span.section-filter__result-name Land Rover
					span.section-filter__result-count  291
				a.section-filter__result(href="")
					span.section-filter__result-name Lexus
					span.section-filter__result-count  268
				a.section-filter__result(href="")
					span.section-filter__result-name Mazda
					span.section-filter__result-count 394
				a.section-filter__result(href="")
					span.section-filter__result-name Mercedes-Benz
					span.section-filter__result-count 924
				a.section-filter__result(href="")
					span.section-filter__result-name Opel
					span.section-filter__result-count 1026
				a.section-filter__result(href="")
					span.section-filter__result-name Peugeot
					span.section-filter__result-count 1026
				a.section-filter__result(href="")
					span.section-filter__result-name Porsche
					span.section-filter__result-count 1026
				a.section-filter__result(href="")
					span.section-filter__result-name Renault
					span.section-filter__result-count 1026
				a.section-filter__result(href="")
					span.section-filter__result-name Skoda
					span.section-filter__result-count 1026
				a.section-filter__result(href="")
					span.section-filter__result-name Toyota
					span.section-filter__result-count 1026
				a.section-filter__result(href="")
					span.section-filter__result-name All brands
						| <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.82996 0.875L7.07996 6.125L12.33 0.875" stroke="#001899" stroke-width="1.75" /></svg>
//- 	.section-question 
//- 		.container 
//- 			a(href="")
//- 				img(src="./img/question.jpg" alt="")
//- 	.section-blocks 
//- 		.container 
//- 			.section-blocks__items
//- 				.section-blocks__item
//- 					.section-blocks__name Личный кабинет «Симплекс» для физических лиц собственников (нанимателей) квартир
//- 					a.button(href="") Войти
//- 						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				.section-blocks__item
//- 					.section-blocks__name Личный кабинет «Теплосети» для юридических лиц, физических лиц собственников нежилых помещений
//- 					a.button(href="") Войти
//- 						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-services 
//- 		.container 
//- 			h2.h2 Наши услуги
//- 			.section-services__items
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon1.svg" alt="")
//- 					span.section-services__name Передать показания, получить счета
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon2.svg" alt="")
//- 					span.section-services__name Как уменьшить платежи
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon3.svg" alt="")
//- 					span.section-services__name Отключения
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon4.svg" alt="")
//- 					span.section-services__name Задать вопрос
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon5.svg" alt="")
//- 					span.section-services__name Сообщить о коррупции
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon6.svg" alt="")
//- 					span.section-services__name В помощь потребителю
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-attention 
//- 		.container 
//- 			h2.h2.section-attention__title Важная информация
//- 			.section-attention__items 
//- 				.section-attention__item
//- 					.section-attention__date 16.02.2023
//- 					.section-attention__name В связи с аварией на ул. Куйбышева не будет горячей воды с 5 по 10 марта. 
//- 				.section-attention__item
//- 					.section-attention__date 16.02.2023
//- 					.section-attention__name Из-за холодом отопительный сезон продлиться до 26 мая
//- 				.section-attention__item
//- 					.section-attention__date 16.02.2023
//- 					.section-attention__name Перерасчет счетов по ЖКХ будет проходить в плановом режиме весь апрель.
//- 			.section-attention__buttons 
//- 				a.button.button-bordered(href="") Вся информация
//- 					<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22.5 2)" fill="#0E40B4" /><path d="M9.5 15L15.5 9M15.5 9H11M15.5 9V13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-news 
//- 		.container 
//- 			h2.h2 Новости
//- 			.section-news__items
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news1.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") Принято решение о начале проектирования новых тепловых станций в микрорайонах Чкаловск и Прибрежный
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news2.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") Задолженность калининградцев за отопление уменьшилась еще на 10 миллионов рублей
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news3.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") «При нападении противника на территорию расположения котельной — котельные во всех случаях работу не прекращают»...
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news4.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") В 2023 году МП «Калининградтеплосеть» закроет три угольные котельные
//- 			.section-news__buttons 
//- 				a.button.button-bordered(href="") Все новости
//- 					<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22.5 2)" fill="#0E40B4" /><path d="M9.5 15L15.5 9M15.5 9H11M15.5 9V13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-form 
//- 		.container 
//- 			form.section-form__form.form()
//- 				.form__inner 
//- 					.form__left 
//- 							.h2 Задать вопрос
//- 							.form__text 
//- 									p Данная форма является официальным обращением в Муниципальное предприятие «Калининградтеплосеть» городского округа «Город Калининград» и влечёт правовые последствия, которые предусмотрены положениями Федерального закона Российской Федерации от 2 мая 2006 г. № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации». Персональные данные удаляются через 6 мес с даты ответа или по личному письменному заявления в приёмную по адресу ул. Нарвская 58.
//- 									p Ознакомиться с политикой МП «Калининградтеплосеть» в области персональных данных вы можете по ссылке.
//- 					.form__right 
//- 							.form__input 
//- 								input(type="text" value="" placeholder="ФИО")
//- 							.form__input 
//- 								input(type="text" value="" placeholder="Адрес")
//- 							.form__input 
//- 								input(type="email" value="" placeholder="E-mail")
//- 							.form__input 
//- 								input(type="tel" value="" placeholder="Телефон *" required)
//- 							.form__input
//- 								+custom-checkbox('Я даю согласие на обработку персональных данных')
//- 							.form__input
//- 								+custom-checkbox('С соглашением об использовании персональных данных ознакомлен')
//- 							.form__input
//- 								select
//- 									option Задать вопрос о начислениях и текущей задолженности
//- 									option Задать вопрос о начислениях и текущей задолженности
//- 									option Задать вопрос о начислениях и текущей задолженности
//- 							.form__input 
//- 								textarea(placeholder="Вопрос")
//- 							.form__input 

//- 							.form__input 
//- 								button.button.button_full(type="submit") 
//- 									span Отправить
//- 									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white"></circle><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round"></path></svg>

