main.main
	.container
		.section-news-detail
			.section-news-detail__inner.section-news-detail__inner_important
				.section-news-detail__left
					.section-news-detail__date 04.06.2024
					h1.h1 В связи с аваией на ул. Куйбышева не будет горячей воды с 5 по 10 марта. 
					.section-news-detail__text 
						.section-news-detail__preview 
							p Муниципальное предприятие «Калининградтеплосеть» вместе с Вами завершает отопительный сезон и выражает искреннюю благодарность всем, кто вместе с нами ожидал прихода по-настоящему летнего тепла.
						.section-news-detail__detail.text-page
							p В то же время некоторые жители нашего города по различным причинам не смогли вовремя и в полном объеме оплачивать услуги по теплоснабжению и теперь имеют задолженность перед Предприятием.С целью избавить Вас от неприятных судебных разбирательств нами подготовлены досудебные претензии, которые в течении июня получат те, кто имеет долги по теплоснабжению.
							p Если Вы получили такую претензию, просим Вас оплатить указанную в ней сумму, с целью предупреждения различных неприятных последствий, связанных с взысканием долга за коммунальные услуги по судебному решению, таких как арест имущества, запрет выезда за границу, дополнительных расходов, связанных с уплатой пени и судебных издержек.Кроме того, в случае добровольной оплаты задолженности в течении месяца после получения претензий Предприятием не будет начисляться пеня!
							p В случае неуплаты указанной в претензии суммы предприятие «Калининградтеплосеть» будет вынуждено обратиться в суд и провести все предусмотренные законом мероприятия по принудительному взысканию долга.Если у Вас есть вопросы относительно задолженности или вы столкнулись с трудностями при ее оплате, Вы всегда можете обратиться к нам по адресу: г. Калининград, ул. Нарвская, 58, задать вопрос на нашем сайте по адресу: <a href="">https://www.kts39.ru/</a> в разделе «Задать вопрос», написать нам на электронную почту <a href="">info@kts39.ru</a> или позвонить по телефонам: 667-021, 667-160, 667-161. Специалисты отдела по работе с дебиторской задолженностью дадут Вам подробные разъяснения по всем вопросам.
							p Если Вы по какой-то причине не имеете возможности погасить всю указанную в квитанции задолженность единовременно, можно обратиться за рассрочкой в отдел по работе с дебиторской задолженностью Предприятия или позвонить по телефону: 667-069. Вместе мы сможем найти оптимальное решение!
				.section-news-detail__right
					.section-important__items.section-important__items_right
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Перерасчет счетов по ЖКХ будет проходить в плановом режиме весь апрель.
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая
						.section-important__item
							.section-important__date 16.02.2023
							a.section-important__name(href="") Из-за холодом отопительный сезон продлиться до 26 мая