main.main
	.container 
		ul 
			li 
				a(href="main.html") Главная
			//- li 
			//- 	a(href="news.html") Новости
			li 
				a(href="detail.html") детальная
			//- li 
			//- 	a(href="lk1.html") Показания
			//- li 
			//- 	a(href="lk2.html") Личный кабинет авторизация
			//- li 
			//- 	a(href="lk3.html") Личный кабинет регистрация
			//- li 
			//- 	a(href="important.html") Важная информация
			//- li 
			//- 	a(href="important-detail.html") Важная информация детальная
			//- li 
			//- 	a(href="photo-detail.html") Фотогалерея детальная