//- main.main
//- 	.section-main
//- 		.container
//- 			.section-main__slider.main-slider
//- 				.main-slider__slide
//- 					.main-slider__inner 
//- 						.main-slider__text
//- 							.main-slider__title Личный кабинет Симплекс
//- 							.main-slider__desc Оплатите все квитанции Симплекс картой любого банка в личном кабинете. Никаких очередей и траты вашего времени
//- 							a.button(href="") Подробнее
//- 								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 						.main-slider__img 
//- 							img(src="./img/mac.png" alt="")
//- 				.main-slider__slide
//- 					.main-slider__inner 
//- 						.main-slider__text
//- 							.main-slider__title Личный кабинет Симплекс
//- 							.main-slider__desc Оплатите все квитанции Симплекс картой любого банка в личном кабинете. Никаких очередей и траты вашего времени
//- 							a.button(href="") Подробнее
//- 								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 						.main-slider__img 
//- 							img(src="./img/mac.png" alt="")
//- 			.main-slider__buttons
//- 				.main-slider__prev
//- 					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.5303 8.46967C11.2374 8.17678 10.7626 8.17678 10.4697 8.46967L7.46967 11.4697C7.17678 11.7626 7.17678 12.2374 7.46967 12.5303L10.4697 15.5303C10.7626 15.8232 11.2374 15.8232 11.5303 15.5303C11.8232 15.2374 11.8232 14.7626 11.5303 14.4697L9.81066 12.75H16C16.4142 12.75 16.75 12.4142 16.75 12C16.75 11.5858 16.4142 11.25 16 11.25H9.81066L11.5303 9.53033C11.8232 9.23744 11.8232 8.76256 11.5303 8.46967Z" fill="#1E1E1E" /></svg>
//- 				.main-slider__next
//- 					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.4697 8.46967C12.7626 8.17678 13.2374 8.17678 13.5303 8.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L13.5303 15.5303C13.2374 15.8232 12.7626 15.8232 12.4697 15.5303C12.1768 15.2374 12.1768 14.7626 12.4697 14.4697L14.1893 12.75H8C7.58579 12.75 7.25 12.4142 7.25 12C7.25 11.5858 7.58579 11.25 8 11.25H14.1893L12.4697 9.53033C12.1768 9.23744 12.1768 8.76256 12.4697 8.46967Z" fill="#1E1E1E" /></svg>
//- 	.section-question 
//- 		.container 
//- 			a(href="")
//- 				img(src="./img/question.jpg" alt="")
//- 	.section-blocks 
//- 		.container 
//- 			.section-blocks__items
//- 				.section-blocks__item
//- 					.section-blocks__name Личный кабинет «Симплекс» для физических лиц собственников (нанимателей) квартир
//- 					a.button(href="") Войти
//- 						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				.section-blocks__item
//- 					.section-blocks__name Личный кабинет «Теплосети» для юридических лиц, физических лиц собственников нежилых помещений
//- 					a.button(href="") Войти
//- 						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-services 
//- 		.container 
//- 			h2.h2 Наши услуги
//- 			.section-services__items
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon1.svg" alt="")
//- 					span.section-services__name Передать показания, получить счета
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon2.svg" alt="")
//- 					span.section-services__name Как уменьшить платежи
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon3.svg" alt="")
//- 					span.section-services__name Отключения
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon4.svg" alt="")
//- 					span.section-services__name Задать вопрос
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon5.svg" alt="")
//- 					span.section-services__name Сообщить о коррупции
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 				a.section-services__item(href="")
//- 					span.section-services__icon
//- 						img(src="./img/icon6.svg" alt="")
//- 					span.section-services__name В помощь потребителю
//- 					span.section-services__arrow
//- 						<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L7 1M7 1H2.5M7 1V5.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-attention 
//- 		.container 
//- 			h2.h2.section-attention__title Важная информация
//- 			.section-attention__items 
//- 				.section-attention__item
//- 					.section-attention__date 16.02.2023
//- 					.section-attention__name В связи с аварией на ул. Куйбышева не будет горячей воды с 5 по 10 марта. 
//- 				.section-attention__item
//- 					.section-attention__date 16.02.2023
//- 					.section-attention__name Из-за холодом отопительный сезон продлиться до 26 мая
//- 				.section-attention__item
//- 					.section-attention__date 16.02.2023
//- 					.section-attention__name Перерасчет счетов по ЖКХ будет проходить в плановом режиме весь апрель.
//- 			.section-attention__buttons 
//- 				a.button.button-bordered(href="") Вся информация
//- 					<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22.5 2)" fill="#0E40B4" /><path d="M9.5 15L15.5 9M15.5 9H11M15.5 9V13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-news 
//- 		.container 
//- 			h2.h2 Новости
//- 			.section-news__items
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news1.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") Принято решение о начале проектирования новых тепловых станций в микрорайонах Чкаловск и Прибрежный
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news2.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") Задолженность калининградцев за отопление уменьшилась еще на 10 миллионов рублей
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news3.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") «При нападении противника на территорию расположения котельной — котельные во всех случаях работу не прекращают»...
//- 				.section-news__item
//- 					a.section-news__img(href="")
//- 						img(src="./img/news4.jpg" alt="")
//- 					.section-news__date 16.02.2023
//- 					a.section-news__name(href="") В 2023 году МП «Калининградтеплосеть» закроет три угольные котельные
//- 			.section-news__buttons 
//- 				a.button.button-bordered(href="") Все новости
//- 					<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22.5 2)" fill="#0E40B4" /><path d="M9.5 15L15.5 9M15.5 9H11M15.5 9V13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" /></svg>
//- 	.section-form 
//- 		.container 
//- 			form.section-form__form.form()
//- 				.form__inner 
//- 					.form__left 
//- 							.h2 Задать вопрос
//- 							.form__text 
//- 									p Данная форма является официальным обращением в Муниципальное предприятие «Калининградтеплосеть» городского округа «Город Калининград» и влечёт правовые последствия, которые предусмотрены положениями Федерального закона Российской Федерации от 2 мая 2006 г. № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации». Персональные данные удаляются через 6 мес с даты ответа или по личному письменному заявления в приёмную по адресу ул. Нарвская 58.
//- 									p Ознакомиться с политикой МП «Калининградтеплосеть» в области персональных данных вы можете по ссылке.
//- 					.form__right 
//- 							.form__input 
//- 								input(type="text" value="" placeholder="ФИО")
//- 							.form__input 
//- 								input(type="text" value="" placeholder="Адрес")
//- 							.form__input 
//- 								input(type="email" value="" placeholder="E-mail")
//- 							.form__input 
//- 								input(type="tel" value="" placeholder="Телефон *" required)
//- 							.form__input
//- 								+custom-checkbox('Я даю согласие на обработку персональных данных')
//- 							.form__input
//- 								+custom-checkbox('С соглашением об использовании персональных данных ознакомлен')
//- 							.form__input
//- 								select
//- 									option Задать вопрос о начислениях и текущей задолженности
//- 									option Задать вопрос о начислениях и текущей задолженности
//- 									option Задать вопрос о начислениях и текущей задолженности
//- 							.form__input 
//- 								textarea(placeholder="Вопрос")
//- 							.form__input 

//- 							.form__input 
//- 								button.button.button_full(type="submit") 
//- 									span Отправить
//- 									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white"></circle><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round"></path></svg>

