main.main
	.container
		.product-detail-page
			.product-detail-page__title 
				h1 2024 Model Toyota Hilux Adventure DC, 4.0L Petrol 4WD A/T (SFX.HSP40-ADV)
				.share-icon 
					img(src="./img/share.svg")
			.breadcrumbs 
				ul 
					li 
						a(href="") Main
					li 
						span —
					li 
						a(href="") Catalog
					li 
						span —
					li 
						a(href="") Vehicles
					li 
						span —
					li 
						span 2024 Toyota Hilux Adventure DC
		.product-detail-page__inner 
			.product-detail-page__left 
			.product-detail-page__right 
				.product-detail-page__offer US$ On request
				.product-form 
					form(action="")
						input(type="text" placeholder="Name") 
						input(type="email" placeholder="Email") 
						input(type="tel" placeholder="Phone") 
						select()
							option Select Country
						textarea(placeholder="Message")
				.product-detail-page__params 
					.product-detail-page__param
						.product-detail-page__param-name Model Year
						.product-detail-page__param-value 2024
					.product-detail-page__param
						.product-detail-page__param-name Model
						.product-detail-page__param-value LC71
					.product-detail-page__param
						.product-detail-page__param-name Fuel type
						.product-detail-page__param-value Petrol
					.product-detail-page__param
						.product-detail-page__param-name Transmission
						.product-detail-page__param-value Automatic
					.product-detail-page__param
						.product-detail-page__param-name Vehicle ID
						.product-detail-page__param-value SHAT
				button.get-quote() Get quote
				.product-detail-page__squares 
					.product-detail-page__square 
						.product-detail-page__square-block(style="background: #f8f8f8;")
						.product-detail-page__square-name Exterior
					.product-detail-page__square 
						.product-detail-page__square-block(style="background: #969696;")
						.product-detail-page__square-name Interior
					.product-detail-page__square 
						.product-detail-page__square-block.product-detail-page__square-block_spec
						.product-detail-page__square-name Spec-sheet
					.product-detail-page__square 
						.product-detail-page__square-block.product-detail-page__square-block_whatsapp
						.product-detail-page__square-name 
		.product-detail-page__details
			.product-detail-page__details-title Vehicle Details
			.product-detail-page__details-params
				.product-detail-page__details-param
					.product-detail-page__details-param__name Model Year
					.product-detail-page__details-param__value 2024
				.product-detail-page__details-param
					.product-detail-page__details-param__name Body
					.product-detail-page__details-param__value Station Wagon
				.product-detail-page__details-param
					.product-detail-page__details-param__name Make
					.product-detail-page__details-param__value Toyota
				.product-detail-page__details-param
					.product-detail-page__details-param__name Model
					.product-detail-page__details-param__value LC71
				.product-detail-page__details-param
					.product-detail-page__details-param__name Fuel type
					.product-detail-page__details-param__value Petrol
				.product-detail-page__details-param
					.product-detail-page__details-param__name Engine
					.product-detail-page__details-param__value 4.0
				.product-detail-page__details-param
					.product-detail-page__details-param__name Transmission
					.product-detail-page__details-param__value Automatic
				.product-detail-page__details-param
					.product-detail-page__details-param__name Drive
					.product-detail-page__details-param__value 4WD
				.product-detail-page__details-param
					.product-detail-page__details-param__name Exterior Color
					.product-detail-page__details-param__value White
				.product-detail-page__details-param
					.product-detail-page__details-param__name Interior Color
					.product-detail-page__details-param__value Brown
				.product-detail-page__details-param
					.product-detail-page__details-param__name Spec-sheet
					.product-detail-page__details-param__value 
						a(href="") Download
				.product-detail-page__details-param
					.product-detail-page__details-param__name Vehicle ID
					.product-detail-page__details-param__value SHAT


