main.main
	.other-pages
		.container 
			h1.h2 Показания
			.indications 
				.indications__items 
					.indication
						.indication__name Для физических лиц - собственников (нанимателей) квартир
						.indication__text Получить сведения о начислениях за коммунальные услуги, произвести оплату, а также передать показания приборов учёта вы можете в разделе ЛИЧНЫЙ КАБИНЕТ на сайте ООО «РИВЦ Симплекс» по адресу <a href="">simplex39.ru</a>
						.indication__list 
							a(href="") Отправить показания водомера (квартира)
							a(href="") Отправить показания прибора учета тепловой энергии (квартира)
					.indication
						.indication__name Для юридических лиц, физических лиц - собственников нежилых помещений
						.indication__list 
							a(href="") Отправить показания водомера (квартира)
							a(href="") Отправить показания прибора учета тепловой энергии (квартира)
				.indications__info 
					.indications__title Для просмотра выставленных в Ваш адрес счетов, Вам необходимо зарегистрироваться в личном кабинете.
					a.button(href="") Войти
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" transform="matrix(-1 0 0 1 22 2)" fill="white" /><path d="M9 15L15 9M15 9H10.5M15 9V13.5" stroke="#0E40B4" stroke-linecap="round" stroke-linejoin="round" /></svg>