footer.footer
	.container
		.footer__inner
			.footer__column
				.footer-menu 
					+list-links('VEHICLES','STOCK CLEARANCE','ABOUT','OUR TEAM','OUR SHOWROOMS')
			.footer__column
				.footer__contact
						a(href="tel:+971 4 271 3496") +971 4 271 3496
				.footer__address Al Aweer Auto Market, Showroom No. P3 -27, 28, Dubai, UAE
			.footer__column
				a.footer-subscribe(href="")
					span Subscribe to our latest offers
					img(src="./img/tg-footer.svg")
			.footer__column
				.footer-socials

		.footer-bottom 
			.footer-bottom__copyright © 2019-2024 | <a href="">Privacy Policy</a> | Site built by XBS
			.footer-bottom__copyright Trademarks and brands are the property of their respective manufacturers.
