// $fa-font-path: "../webfonts";
// $font: 'Montserrat', sans-serif;
$font-family: "Montserrat", sans-serif;
$second-family: 'IBM Plex Sans', sans-serif;
// $third-family: 'Bad Script', cursive;

$color-text-dark: #333333;
$color-text-light: #b6b5b5;
$color-primary: #001899;
$color-accent: #ff9023;

// $color-second: #2383f7;
// $color-link: #2c2b3c;

// $primary-color: #f8bbd0 !default;
// $accent-color

// $color-border: #eff0f1;

// $color-input-border: #e4e6e9;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
